/*
 * Base structure
 */

.quiz-page{
	color: #BBCBCB;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
  height: 100%;
  background: linear-gradient(#502E91, transparent 90%),
              linear-gradient(0deg, #485665, transparent),
              #cccccc url("../img/blackboard.jpg") center no-repeat;
  background-size: cover;
}


/* 
 * header
 */

.header {
	padding: 25px;
}

.quiz-page a {
  color: #FFF94F;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
 * quiz styling
 */

.main,
.choices {
  padding: 25px;
}


#progress {
  margin-top: 15%;
  border-top: solid 1px #BBCBCB;
}

button {
  color: #502E91;
  background: #0E1116;
  border: 0px;
  border-radius: 6px;
  margin: 25px;
  padding: 10px 29px;
  font-size: 18px;
  min-width: 100px;
  max-width: 500px;
}



/* 
 * footer
 */

 .navbar-fixed-bottom {
  text-align: center;
 }

